<div class="contact-container">
    <div class="left-content">
      <div class="message">
        <p>A short message here.</p>
      </div>
      <div class="contact-info">
        <p>Email: example@example.com</p>
        <p>Phone: +1234567890</p>
      </div>
    </div>
    <div class="right-content">
      <form>
        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name">
  
        <label for="email">Your Email:</label>
        <input type="email" id="email" name="email">
  
        <label for="address">Your Address:</label>
        <input type="text" id="address" name="address">
  
        <label for="message">Message:</label>
        <textarea id="message" name="message"></textarea>
  
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>


  <div class="full-height-container">
    <div class="content">
      <!-- Your main content goes here -->
    </div>
    <p-toolbar class="sticky-toolbar">
      <div class="footer-content">
        <h5 class="footer">Created By Ayush Jain <span> </span><span class="pi pi-heart-fill"></span></h5>
        <h5>All copyright infringement</h5>
      </div>
    </p-toolbar>
  </div>
  
