<p-toolbar class="sticky-toolbar">
  <div class="p-toolbar-group-left">
    <img class="logo-image" src="assets/logo-image.jpg" alt="">
    <span class="toolbar-title">A.J</span>
  </div>
  <div class="p-toolbar-group-right">
    <button pButton type="button" label="Home" routerLink="/home" routerLinkActive="active" class="p-button-text" (click)="scrollToElement('home')"></button>
    <button pButton type="button" label="About" routerLink="/About" routerLinkActive="active" class="p-button-text" (click)="scrollToElement('about')"></button>
    <button pButton type="button" label="Project" routerLink="/project" routerLinkActive="active" class="p-button-text" (click)="scrollToElement('project')"></button>
    <button pButton type="button" label="Contact" routerLink="/contact" routerLinkActive="active" class="p-button-text" (click)="scrollToElement('contact')"></button>
    
  </div>
</p-toolbar>

