<div class="container">
    <div class="intro">
      <h1>Hi, myself Ayush Jain</h1>
      <h2>I am a <span id="animated-text" class="animated-text"></span></h2>
      <p>I aim to build engaging and user-friendly web applications that provide an optimal user experience.</p>
      <p>With a passion for technology and a keen eye for design, I strive to create seamless and interactive web interfaces.</p>
    </div>
    <div class="photo">
      <img src="assets/logo-image.jpg" alt="Ayush Jain" class="profile-pic">
    </div>
  </div>
  <div class="social-buttons">
    <a href="https://instagram.com/yourprofile" target="_blank" class="btn btn-instagram">
      <i class="pi pi-instagram"></i>
    </a>
    <a href="https://facebook.com/yourprofile" target="_blank" class="btn btn-facebook">
      <i class="pi pi-facebook"></i>
    </a>
    <a href="https://twitter.com/yourprofile" target="_blank" class="btn btn-twitter">
      <i class="pi pi-twitter"></i>
    </a>
    <a href="https://linkedin.com/in/yourprofile" target="_blank" class="btn btn-linkedin">
      <i class="pi pi-linkedin"></i>
    </a>
  </div>
  <div class="download-button">
    <a href="assets/resume.pdf" download class="btn btn-download">
      <i class="pi pi-download"></i> Resume
    </a>
  </div>

  